<!DOCTYPE html>
<html lang="en">

<head>
  <%- include('includes/head', { title: 'All Posts' }) %>
  <link rel="stylesheet" href="/styles/posts.css">
</head>

<body>
  <%- include('includes/header') %>
  <main id="all-posts">
    <h1>All Posts</h1>
    <% if(!posts || posts.length ===0 ) { %> 
        <p>포스팅 된 내용이 없습니다. 새로운 데이터를 등록원하세여?</p>
        <a class="btn" href="/new-post">Create a new Post</a>
      <% }else{ %> 
        <ol id="posts-list">
          <% for(const newpost of posts) { %> 
            <li>
              <%- include('includes/post-item',{post:newpost}) %> 
            </li>
            <% } %> 
        </ol>
        <% } %> 
  </main> 
</body>

</html>