<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include('includes/head') %>
  </head>
  <body>
    <%- include('includes/header') %>
    <%- include('includes/side-drawer') %>
    <main>
      <h1>무언가 잘못됨! 500에러!</h1>
      <p>
        서버에 문제가 있음!! 500 에러임
      </p>
    </main>
  </body>
</html>